# vDataFrame.current_relation

In [ ]:
vDataFrame.current_relation(reindent: bool = True)

Returns the current vDataFrame relation.

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">reindent</div></td> <td><div class="type">bool</div></td> <td><div class = "yes">&#10003;</div></td> <td>Returns the current vDataFrame relation.</td> </tr>
</table>

### Returns

<b>str</b> : The formatted current vDataFrame relation.

### Example

In [36]:
from vertica_ml_python.learn.datasets import load_titanic
titanic = load_titanic()
print(titanic)

<object>  Name: titanic, Number of rows: 1234, Number of columns: 14

In [37]:
# Current vDataFrame relation
print(titanic.current_relation())

"public"."titanic"

In [35]:
# Doing some Data Preparation
titanic.fillna()
titanic.eval(name = "family_size", expr = "parch + sibsp + 1")
titanic.normalize()

# Current vDataFrame relation
print(titanic.current_relation())

(
   SELECT
     "survived",
     "boat",
     "ticket",
     "embarked",
     "home.dest",
     "sibsp",
     ("fare" - 33.9637936739659) / (52.6247198802501) AS "fare",
     "sex",
     ("body" - 164.14406779661) / (29.7495704692386) AS "body",
     "pclass",
     ("age" - 30.1524573721163) / (12.9740056939445) AS "age",
     "name",
     "cabin",
     "parch",
     ("family_size" - 1.88249594813614) / (1.58407574155133) AS "family_size"
   FROM
 (
   SELECT
     ("survived" - 0.364667747163695) / (0.481532018641288) AS "survived",
     COALESCE("boat", '13') AS "boat",
     "ticket",
     COALESCE("embarked", 'S') AS "embarked",
     COALESCE("home.dest", 'New York, NY') AS "home.dest",
     ("sibsp" - 0.504051863857374) / (1.04111727241629) AS "sibsp",
     COALESCE("fare", 33.9637936739659) AS "fare",
     "sex",
     COALESCE("body", 164.14406779661) AS "body",
     ("pclass" - 2.28444084278768) / (0.842485636190292) AS "pclass",
     COALESCE("age", 30.1524573721163) AS "age",
     "name",
     COALESCE("cabin", 'C23 C25 C27') AS "cabin",
     ("parch" - 0.378444084278768) / (0.868604707790392) AS "parch",
     parch + sibsp + 1 AS "family_size"
   FROM
 (
   SELECT
     "survived",
     "boat",
     "ticket",
     "embarked",
     "home.dest",
     "sibsp",
     "fare",
     "sex",
     "body",
     "pclass",
     "age",
     "name",
     "cabin",
     "parch"
   FROM
 "public"."titanic")
VERTICA_ML_PYTHON_SUBTABLE)
VERTICA_ML_PYTHON_SUBTABLE)
VERTICA_ML_PYTHON_SUBTABLE