# tablesample.to_pandas

In [ ]:
tablesample.to_pandas()

Converts the tablesample to a pandas DataFrame.

### Returns

<b>pandas.DataFrame</b> : pandas DataFrame of the tablesample.

### Example

In [16]:
from verticapy.utilities import *
dataset = tablesample(values = {"index": ["region", "price", "quality"],
                                "Banana": ["Brazil", 2.3, 2],
                                "Manguo": ["Columbia", 6.7, 5],
                                "Apple": ["France", 1.5, 2]},
                      name = "Fruits")
print(dataset)

<object>  Name: Fruits, Number of rows: 3, Number of columns: 4

In [17]:
dataset.to_pandas()

         Banana    Manguo   Apple
region   Brazil  Columbia  France
price       2.3       6.7     1.5
quality       2         5       2