# vDataFrame.regexp

In [ ]:
vDataFrame.regexp(column: str,
                  pattern: str,
                  method: str = "substr", 
                  position: int = 1,
                  occurrence: int = 1,
                  replacement: str = '',
                  return_position : int = 0,
                  name: str = "")

Computes a new vcolumn based on regular expressions.

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">column</div></td> <td><div class="type">str</div></td> <td><div class = "no">&#10060;</div></td> <td>Input vcolumn used to compute the regular expression.</td> </tr>
    <tr> <td><div class="param_name">pattern</div></td> <td><div class="type">str</div></td> <td><div class = "no">&#10060;</div></td> <td>The regular expression.</td> </tr>
    <tr> <td><div class="param_name">method</div></td> <td><div class="type">str</div></td> <td><div class = "yes">&#10003;</div></td> <td>Method used to compute the regular expressions.<br>
                                                    <ul>
                                                        <li><b>count :</b> Returns the number times a regular expression matches each element of the input vcolumn. </li>
                                                        <li><b>ilike :</b> Returns True if the vcolumn element contains a match for the regular expression.</li>
                                                        <li><b>instr :</b> Returns the starting or ending position in a vcolumn element where a regular expression matches.</li>
                                                        <li><b>like :</b> Returns True if the vcolumn element matches the regular expression.</li>
                                                        <li><b>not_ilike :</b> Returns True if the vcolumn element does not match the case-insensitive regular expression.</li>
                                                        <li><b>not_like :</b> Returns True if the vcolumn element does not contain a match for the regular expression.</li>
                                                        <li><b>replace :</b> Replaces all occurrences of a substring that match a regular expression with another substring.</li>
                                                        <li><b>substr :</b> Returns the substring that matches a regular expression within a vcolumn.</li></ul></td> </tr>
    <tr> <td><div class="param_name">position</div></td> <td><div class="type">int</div></td> <td><div class = "yes">&#10003;</div></td> <td>The number of characters from the start of the string where the function should start searching for matches.</td> </tr>
    <tr> <td><div class="param_name">occurrence</div></td> <td><div class="type">int</div></td> <td><div class = "yes">&#10003;</div></td> <td>Controls which occurrence of a pattern match in the string to return.</td> </tr>
    <tr> <td><div class="param_name">replacement</div></td> <td><div class="type">str</div></td> <td><div class = "yes">&#10003;</div></td> <td>The string to replace matched substrings.</td> </tr>
    <tr> <td><div class="param_name">return_position</div></td> <td><div class="type">int</div></td> <td><div class = "yes">&#10003;</div></td> <td>Sets the position within the string to return.</td> </tr>
    <tr> <td><div class="param_name">name</div></td> <td><div class="type">str</div></td> <td><div class = "yes">&#10003;</div></td> <td>New feature name. If empty, a name will be generated.</td> </tr>
</table>

### Returns

<b>vDataFrame</b> : self

### Example

In [8]:
from vertica_ml_python import *
filmtv_movies = vDataFrame("filmtv_movies")
print(filmtv_movies.head(1))

<object>  Name: filmtv_movies, Number of rows: 53397, Number of columns: 12

In [9]:
# Retrieving the second actor
filmtv_movies.regexp(column = "actors", 
                     pattern = "[^,]+", 
                     method = "substr",
                     occurrence = 2,
                     name = "actor2").select(["actors", 
                                              "actor2"])

<object>  Name: filmtv_movies, Number of rows: 53397, Number of columns: 2

In [11]:
# Computing the Number of actors
filmtv_movies.regexp(column = "actors", 
                     pattern = ",", 
                     method = "count",
                     name = "nb_actors")
filmtv_movies["nb_actors"].add(1)
filmtv_movies.select(["actors", "nb_actors"])

<object>  Name: filmtv_movies, Number of rows: 53397, Number of columns: 2

### See Also

<table id="seealso">
    <tr><td><a href="../eval">vDataFrame.eval</a></td> <td>Evaluates a customized expression.</td></tr>
</table>