# vDataFrame[].fillna

In [ ]:
vDataFrame[].fillna(val = None,
                    method: str = "auto",
                    by: list = [],
                    order_by: list = [],
                    print_info: bool = True)

Fills the vcolumn missing elements using specific rules.

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">val</div></td> <td><div class="type">int / float / str</div></td> <td><div class = "yes">&#10003;</div></td> <td>Value used to impute the vcolumn.</td> </tr>
    <tr> <td><div class="param_name">method</div></td> <td><div class="type">dict</div></td> <td><div class = "yes">&#10003;</div></td> <td>Method used to impute the missing values.<br>
                                                    <ul>
                                                        <li><b>auto :</b> Mean for the numerical and Mode for the categorical vcolumns.</li>
                                                        <li><b>bfill :</b> Back Propagation of the next element (Constant Interpolation).</li>
                                                        <li><b>ffill :</b> Propagation of the first element (Constant Interpolation).</li>
                                                        <li><b>mean :</b> Average.</li>
                                                        <li><b>median :</b> Median.</li>
                                                        <li><b>mode :</b> Mode (most occurent element).</li>
                                                        <li><b>0ifnull :</b> 0 when the vcolumn is null, 1 otherwise.</li></ul></td> </tr>
    <tr> <td><div class="param_name">by</div></td> <td><div class="type">list</div></td> <td><div class = "yes">&#10003;</div></td> <td>vcolumns used in the partition.</td> </tr>
    <tr> <td><div class="param_name">order_by</div></td> <td><div class="type">list</div></td> <td><div class = "yes">&#10003;</div></td> <td>List of the vcolumns used to sort the data when using TS methods.</td> </tr>
    <tr> <td><div class="param_name">print_info</div></td> <td><div class="type">bool</div></td> <td><div class = "yes">&#10003;</div></td> <td>If set to True, displays all the filling information.</td> </tr>
</table>

### Returns

<b>vDataFrame</b> : self.parent

### Example

In [48]:
from vertica_ml_python.learn.datasets import load_titanic
titanic = load_titanic()
print(titanic)

<object>  Name: titanic, Number of rows: 1234, Number of columns: 14

In [46]:
print(titanic["age"])
# Imputation using the avg over partition by pclass and sex
titanic["age"].fillna(method = "avg", by = ["pclass", "sex"])

<object>  Name: age, Number of rows: 1234, dtype: numeric(6,3)
237 element(s) was/were filled

<object>  Name: age, Number of rows: 1234, dtype: numeric(6,3)

In [49]:
print(titanic["age"])
# Imputation using the median over partition by pclass and sex
titanic["age"].fillna(method = "median", by = ["pclass", "sex"])

<object>  Name: age, Number of rows: 1234, dtype: numeric(6,3)
237 element(s) was/were filled

<object>  Name: age, Number of rows: 1234, dtype: float

In [50]:
print(titanic["embarked"])
# Imputation using the mode
titanic["embarked"].fillna(method = "mode")["embarked"]

<object>  Name: embarked, Number of rows: 1234, dtype: varchar(20)
2 element(s) was/were filled

<object>  Name: embarked, Number of rows: 1234, dtype: varchar(20)

In [51]:
print(titanic["boat"])
# As the missing values are the most occurent categories, an idea
# could be to merge all the non-null category (category 1) and to
# impute the missing values par 0. '0ifnull' method is following this
# process
titanic["boat"].fillna(method = "0ifnull")

<object>  Name: boat, Number of rows: 1234, dtype: varchar(100)
795 element(s) was/were filled

<object>  Name: boat, Number of rows: 1234, dtype: bool

### See Also

<table id="seealso">
    <tr><td><a href="../dropna">vDataFrame[].dropna</a></td> <td>Drops the vcolumn missing values.</td></tr>
</table>