# vDataFrame.explain

In [ ]:
vDataFrame.explain(digraph: bool = False)

Provides information on how Vertica is computing the current vDataFrame relation.

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">digraph</div></td> <td><div class="type">bool</div></td> <td><div class = "yes">&#10003;</div></td> <td>If set to True, returns only the digraph of the explain plan.</td> </tr>
</table>

### Returns

<b>str</b> : Explain Plan. 

### Example

In [90]:
from vertica_ml_python.learn.datasets import load_titanic
titanic = load_titanic()
print(titanic)

<object>  Name: titanic, Number of rows: 1234, Number of columns: 14

In [91]:
# Doing some operations
titanic["sex"].label_encode()
titanic["embarked"].get_dummies()
titanic.fillna()
# Explaining the vDataFrame current relation
print(titanic.explain())

------------------------------
QUERY PLAN DESCRIPTION:

EXPLAIN SELECT * FROM (SELECT "survived", COALESCE("boat", '13') AS "boat", "ticket", COALESCE("embarked", 'S') AS "embarked", COALESCE("home.dest", 'New York, NY') AS "home.dest", "sibsp", COALESCE("fare", 33.9637936739659) AS "fare", DECODE("sex", 'female', 0, 'male', 1, 2) AS "sex", COALESCE("body", 164.14406779661) AS "body", "pclass", COALESCE("age", 30.1524573721163) AS "age", "name", COALESCE("cabin", 'C23 C25 C27') AS "cabin", "parch", DECODE("embarked_C", 'C', 1, 0) AS "embarked_C", DECODE("embarked_Q", 'Q', 1, 0) AS "embarked_Q" FROM (SELECT "survived", "boat", "ticket", "embarked", "home.dest", "sibsp", "fare", "sex", "body", "pclass", "age", "name", "cabin", "parch", "embarked" AS "embarked_C", "embarked" AS "embarked_Q" FROM "public"."titanic") VERTICA_ML_PYTHON_SUBTABLE) VERTICA_ML_PYTHON_SUBTABLE

Access Path:
+-STORAGE ACCESS for titanic [Cost: 96, Rows: 1K (NO STATISTICS)] (PATH ID: 1)
|  Projection: public.titanic_super
|  Materialize: titanic.pclass, titanic.survived, titanic.name, titanic.sex, titanic.age, titanic.sibsp, titanic.parch, titanic.ticket, titanic.fare, titanic.cabin, titanic.embarked, titanic.boat, titanic.body, titanic."home.dest"


-----------------------------------------------
PLAN: BASE QUERY PLAN (GraphViz Format)
-----------------------------------------------
digraph G {
graph [rankdir=BT, label = "BASE QUERY PLAN
	Query: EXPLAIN SELECT * FROM (SELECT \"survived\", COALESCE(\"boat\", \'13\') AS \"boat\", \"ticket\", COALESCE(\"embarked\", \'S\') AS \"embarked\", COALESCE(\"home.dest\", \'New York, NY\') AS \"home.dest\", \"sibsp\", COALESCE(\"fare\", 33.9637936739659) AS \"fare\", DECODE(\"sex\", \'female\', 0, \'male\', 1, 2) AS \"sex\", COALESCE(\"body\", 164.14406779661) AS \"body\", \"pclass\", COALESCE(\"age\", 30.1524573721163) AS \"age\", \"name\", COALESCE(\"cabin\", \'C23 C25 C27\') AS \"cabin\", \"parch\", DECODE(\"embarked_C\", \'C\', 1, 0) AS \"embarked_C\", DECODE(\"embarked_Q\", \'Q\', 1, 0) AS \"embarked_Q\" FROM (SELECT \"survived\", \"boat\", \"ticket\", \"embarked\", \"home.dest\", \"sibsp\", \"fare\", \"sex\", \"body\", \"pclass\", \"age\", \"name\", \"cabin\", \"parch\", \"embarked\" AS \"embarked_C\", \"embarked\" AS \"embarked_Q\" FROM \"public\".\"titanic\") VERTICA_ML_PYTHON_SUBTABLE) VERTICA_ML_PYTHON_SUBTABLE

	All Nodes Vector:

	  node[0]=v_testdb_node0001 (initiator) Up
	", labelloc=t, labeljust=l ordering=out]
0[label = "Root
	OutBlk=[UncTuple(16)]", color = "green", shape = "house"];
1[label = "NewEENode
	OutBlk=[UncTuple(16)]", color = "green", shape = "box"];
2[label = "StorageUnionStep: titanic_super
	Unc: Integer(8)
	Unc: Varchar(100)
	Unc: Varchar(36)
	Unc: Varchar(20)
	Unc: Varchar(100)
	Unc: Integer(8)
	Unc: Numeric(18, 13)
	Unc: Integer(8)
	Unc: Numeric(29, 11)
	Unc: Integer(8)
	Unc: Numeric(16, 13)
	Unc: Varchar(164)
	Unc: Varchar(30)
	Unc: Integer(8)
	Unc: Integer(8)
	Unc: Integer(8)", color = "purple", shape = "box"];
3[label = "ExprEval:
	  titanic.survived
	  coalesce(titanic.boat, \'13\')
	  titanic.ticket
	  coalesce(titanic.embarked, \'S\')
	  coalesce(titanic.\"home.dest\", \'New York, NY\')
	  titanic.sibsp
	  coalesce(titanic.fare, 33.9637936739659)
	  CASE titanic.sex WHEN NULLSEQUAL \'female\' THEN 0 WHEN NULLSEQUAL \'male\' THEN 1 ELSE 2 END
	  coalesce(titanic.body, 164.14406779661)
	  titanic.pclass
	  coalesce(titanic.age, 30.1524573721163)
	  titanic.name
	  coalesce(titanic.cabin, \'C23 C25 C27\')
	  titanic.parch
	  CASE titanic.embarked WHEN NULLSEQUAL \'C\' THEN 1 ELSE 0 END
	  CASE titanic.embarked WHEN NULLSEQUAL \'Q\' THEN 1 ELSE 0 END
	Unc: Integer(8)
	Unc: Varchar(100)
	Unc: Varchar(36)
	Unc: Varchar(20)
	Unc: Varchar(100)
	Unc: Integer(8)
	Unc: Numeric(18, 13)
	Unc: Integer(8)
	Unc: Numeric(29, 11)
	Unc: Integer(8)
	Unc: Numeric(16, 13)
	Unc: Varchar(164)
	Unc: Varchar(30)
	Unc: Integer(8)
	Unc: Integer(8)
	Unc: Integer(8)", color = "brown", shape = "box"];
4[label = "ScanStep: titanic_super
	pclass
	survived
	name
	sex
	age
	sibsp
	parch
	ticket
	fare
	cabin
	embarked
	boat
	body
	home.dest
	Unc: Integer(8)
	Unc: Integer(8)
	Unc: Varchar(164)
	Unc: Varchar(20)
	Unc: Numeric(6, 3)
	Unc: Integer(8)
	Unc: Integer(8)
	Unc: Varchar(36)
	Unc: Numeric(10, 5)
	Unc: Varchar(30)
	Unc: Varchar(20)
	Unc: Varchar(100)
	Unc: Integer(8)
	Unc: Varchar(100)", color = "brown", shape = "box"];
1->0 [label = "V[0] C=16", color = "black", style="bold", arrowtail="inv"];
2->1 [label = "0", color = "blue"];
3->2 [label = "0", color = "blue"];
4->3 [label = "0", color = "blue"];}