# vDataFrame[].rename

In [ ]:
vDataFrame[].rename(new_name: str)

Renames the vcolumn by dropping the current vcolumn and creating a copy with the specified name. SQL code generation will be slower if the vDataFrame has been transformed multiple times, so it's better practice to use this method when first preparing your data. 

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">new_name</div></td> <td><div class="type">str</div></td> <td><div class = "no">&#10060;</div></td> <td>The new vcolumn alias.</td> </tr>
</table>

### Returns

<b>vDataFrame</b> : self.parent

### Example

In [15]:
from vertica_ml_python.learn.datasets import load_titanic
titanic = load_titanic()
print(titanic["sex"])

<object>  Name: sex, Number of rows: 1234, dtype: varchar(20)

In [14]:
titanic["sex"].rename("gender")
print(titanic["gender"])

<object>  Name: gender, Number of rows: 1234, dtype: varchar(20)

### See Also

<table id="seealso">
    <tr><td><a href="../add_copy">vDataFrame[].add_copy</a></td> <td>Creates a copy of the vcolumn.</td></tr>
</table>