# tablesample.to_vdf

In [ ]:
tablesample.to_vdf(cursor = None, 
                   dsn: str = "")

Converts the tablesample to a vDataFrame.

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">cursor</div></td> <td><div class="type">DBcursor</div></td> <td><div class = "yes">&#10003;</div></td> <td>Vertica DB cursor.</td> </tr>
    <tr> <td><div class="param_name">dsn</div></td> <td><div class="type">str</div></td> <td><div class = "yes">&#10003;</div></td> <td>Data Base DSN.</td> </tr>
</table>

### Returns

<b>vDataFrame</b> : vDataFrame of the tablesample.

### Example

In [26]:
from verticapy.utilities import *
dataset = tablesample(values = {"index": ["region", "price", "quality"],
                                "Banana": ["Brazil", 2.3, 2],
                                "Manguo": ["Columbia", 6.7, 5],
                                "Apple": ["France", 1.5, 2]},
                      name = "Fruits").transpose()
print(dataset)

<object>  Name: Fruits, Number of rows: 3, Number of columns: 4

In [27]:
print(dataset.to_vdf())

<object>  Name: vdf, Number of rows: 3, Number of columns: 4