# vDataFrame[].apply_fun

In [ ]:
vDataFrame[].apply_fun(func: str,
                       x: float = 2)

Applies a default function to the vcolumn.

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">func</div></td> <td><div class="type">str</div></td> <td><div class = "no">&#10060;</div></td> <td>Function used to transform the vcolumn.<br>
                                                    <ul>
                                                        <li><b>abs :</b> absolute value</li>
                                                        <li><b>acos :</b> trigonometric inverse cosine</li>
                                                        <li><b>asin :</b> trigonometric inverse sine</li>
                                                        <li><b>atan :</b> trigonometric inverse tangent</li>
                                                        <li><b>cbrt :</b> cube root</li>
                                                        <li><b>ceil :</b> value up to the next whole number</li>
                                                        <li><b>cos :</b> trigonometric cosine</li>
                                                        <li><b>cosh :</b> hyperbolic cosine</li>
                                                        <li><b>cot:</b> trigonometric cotangent</li>
                                                        <li><b>exp :</b> exponential function</li>
                                                        <li><b>floor :</b> value down to the next whole number</li>
                                                        <li><b>ln :</b> natural logarithm</li>
                                                        <li><b>log :</b> logarithm</li>
                                                        <li><b>log10 :</b> base 10 logarithm</li>
                                                        <li><b>mod :</b> remainder of a division operation</li>
                                                        <li><b>pow :</b> number raised to the power of another number</li>
                                                        <li><b>round :</b> rounds a value to a specified number of decimal places</li>
                                                        <li><b>sign :</b> arithmetic sign</li>
                                                        <li><b>sin :</b> trigonometric sine</li>
                                                        <li><b>sinh :</b> hyperbolic sine</li>
                                                        <li><b>sqrt :</b> arithmetic square root</li>
                                                        <li><b>tan :</b> trigonometric tangent</li>
                                                        <li><b>tanh :</b> hyperbolic tangent</li></ul></td> </tr>
    <tr> <td><div class="param_name">x</div></td> <td><div class="type">int / float</div></td> <td><div class = "yes">&#10003;</div></td> <td>If the function has two arguments (example, power or mod), 'x' represents the second argument.</td> </tr>
</table>

### Returns

<b>vDataFrame</b> : self.parent

### Example

In [40]:
from vertica_ml_python.learn.datasets import load_titanic
titanic = load_titanic()
print(titanic["age"])

<object>  Name: age, Number of rows: 1234, dtype: numeric(6,3)

In [42]:
titanic["age"].apply_fun(func = "log10")

<object>  Name: age, Number of rows: 1234, dtype: float

### See Also

<table id="seealso">
    <tr><td><a href="../apply">vDataFrame[].apply</a></td> <td> Applies a function to the vcolumn.</td></tr>
</table>