# vDataFrame[].mul

In [ ]:
vDataFrame[].mul(x: float)

Multiplies the vcolumn by the input element.

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">x</div></td> <td><div class="type">float</div></td> <td><div class = "no">&#10060;</div></td> <td>Input number.</td> </tr>
</table>

### Returns

<b>vDataFrame</b> : self.parent

### Example

In [7]:
from vertica_ml_python.learn.datasets import load_titanic
titanic = load_titanic()
print(titanic["age"])

<object>  Name: age, Number of rows: 1234, dtype: numeric(6,3)

In [8]:
titanic["age"].mul(2)

<object>  Name: age, Number of rows: 1234, dtype: numeric(24,3)

### See Also

<table id="seealso">
    <tr><td><a href="../apply">vDataFrame[].apply</a></td> <td> Applies a function to the input vcolumn.</td></tr>
</table>