# read_json

In [ ]:
read_json(path: str, 
          cursor = None, 
          schema: str = 'public', 
          table_name: str = '',
          usecols: list = [],
          new_name: dict = {},
          insert: bool = False)

Ingests a JSON file using flex tables.

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">path</div></td> <td><div class="type">str</div></td> <td><div class = "no">&#10060;</div></td> <td>Absolute path where the JSON file is located.</td> </tr>
    <tr> <td><div class="param_name">cursor</div></td> <td><div class="type">DBcursor</div></td> <td><div class = "yes">&#10003;</div></td> <td>Vertica DB cursor.</td> </tr>
    <tr> <td><div class="param_name">schema</div></td> <td><div class="type">str</div></td> <td><div class = "yes">&#10003;</div></td> <td>Schema where the JSON file will be ingested.</td> </tr>
    <tr> <td><div class="param_name">table_name</div></td> <td><div class="type">str</div></td> <td><div class = "yes">&#10003;</div></td> <td>Final relation name.</td> </tr>
    <tr> <td><div class="param_name">usecols</div></td> <td><div class="type">list</div></td> <td><div class = "yes">&#10003;</div></td> <td>List of the JSON parameters to ingest. The other ones will be ignored. If empty all the JSON parameters will be ingested.</td> </tr>
    <tr> <td><div class="param_name">new_name</div></td> <td><div class="type">dict</div></td> <td><div class = "yes">&#10003;</div></td> <td>Dictionary of the new columns name. If the JSON file is nested, it is advised to change the final names as special characters will be included. For example, {"param": {"age": 3, "name": Badr}, "date": 1993-03-11} will create 3 columns: "param.age", "param.name" and "date". You can rename these columns using the 'new_name' parameter with the following dictionary: {"param.age": "age", "param.name": "name"}</td> </tr>
    <tr> <td><div class="param_name">insert</div></td> <td><div class="type">bool</div></td> <td><div class = "yes">&#10003;</div></td> <td>If set to True, the data will be ingested to the input relation. The JSON parameters must be the same than the input relation otherwise they will not be ingested.</td> </tr>
</table>

### Returns

<b>vDataFrame</b> : The vDataFrame of the relation.

### Example

In [8]:
from vertica_ml_python.utilities import *
# Ingesting the JSON file
read_json("titanic.json", 
          table_name = "titanic_dataset",
          schema = "public")

The table "public"."titanic_dataset" has been successfully created.

<object>  Name: titanic_dataset, Number of rows: 891, Number of columns: 15

In [9]:
# Ingesting the JSON file and renaming some columns
read_json("titanic.json", 
          table_name = "titanic_dataset",
          schema = "public",
          new_name = {"fields.fare": "fare",
                      "fields.sex": "sex"})

The table "public"."titanic_dataset" has been successfully created.

<object>  Name: titanic_dataset, Number of rows: 891, Number of columns: 15

In [10]:
# Ingesting the JSON file, using some columns and
# renaming some columns
read_json("titanic.json", 
          table_name = "titanic_dataset",
          schema = "public",
          usecols = ["fields.fare", "fields.sex"],
          new_name = {"fields.fare": "fare",
                      "fields.sex": "sex"})

The table "public"."titanic_dataset" has been successfully created.

<object>  Name: titanic_dataset, Number of rows: 891, Number of columns: 2

### See Also

<table id="seealso">
    <tr><td><a href="../read_csv">read_csv</a></td> <td>Ingests a CSV file in the Vertica DB.</td></tr>
</table>