# vDataFrame[].apply

In [ ]:
vDataFrame[].apply(func: str, 
                   copy: bool = False, 
                   copy_name: str = "")

Applies a function to the vcolumn.

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">func</div></td> <td><div class="type">str</div></td> <td><div class = "no">&#10060;</div></td> <td>Function used to transform the vcolumn. It must be pure SQL. The function variable must be composed of two flower brackets {}. For example to apply the function: x -> x^2 + 2 use "POWER({}, 2) + 2".</td> </tr>
    <tr> <td><div class="param_name">copy</div></td> <td><div class="type">bool</div></td> <td><div class = "yes">&#10003;</div></td> <td>If set to True, a copy of the vcolumn will be created. The function will be applied on the copy.</td> </tr>
    <tr> <td><div class="param_name">copy_name</div></td> <td><div class="type">str</div></td> <td><div class = "yes">&#10003;</div></td> <td>Name of the copy if the 'copy' parameter is set to True.</td> </tr>
</table>

### Returns

<b>vDataFrame</b> : self.parent

### Example

In [38]:
from vertica_ml_python.learn.datasets import load_titanic
titanic = load_titanic()
print(titanic["age"])

<object>  Name: age, Number of rows: 1234, dtype: numeric(6,3)

In [37]:
# the variable must be composed of two flower brackets '{}' and only pure SQL works
titanic["age"].apply(func = "POWER({}, 2)")

<object>  Name: age, Number of rows: 1234, dtype: float

In [39]:
# creating a new vcolumn to compute the result of the transformation
titanic["age"].apply(func = "POWER({}, 2)", 
                     copy = True,
                     copy_name = "age_pow_2")

<object>  Name: titanic, Number of rows: 1234, Number of columns: 2

### See Also

<table id="seealso">
    <tr><td><a href="../../main-methods/apply">vDataFrame.apply</a></td> <td> Applies functions to the input vcolumns.</td></tr>
    <tr><td><a href="../../main-methods/applymap">vDataFrame.applymap</a></td> <td> Applies a function to all the vcolumns.</td></tr>
    <tr><td><a href="../../main-methods/eval">vDataFrame.eval</a></td> <td> Evaluates a customized expression.</td></tr>
</table>