# get_data_types

In [ ]:
get_data_types(table: str, 
               cursor = None, 
               column_name: str = "", 
               schema_writing: str = "")

Returns a customized relation columns and the respective data types. It will create a temporary table during the process. 

### Parameters

<table id="parameters">
    <tr> <th>Name</th> <th>Type</th> <th>Optional</th> <th>Description</th> </tr>
    <tr> <td><div class="param_name">table</div></td> <td><div class="type">str</div></td> <td><div class = "no">&#10060;</div></td> <td>Relation. It must be pure SQL.</td> </tr>
    <tr> <td><div class="param_name">cursor</div></td> <td><div class="type">DBcursor</div></td> <td><div class = "yes">&#10003;</div></td> <td>Vertica DB cursor.</td> </tr>
    <tr> <td><div class="param_name">column_name</div></td> <td><div class="type">str</div></td> <td><div class = "yes">&#10003;</div></td> <td>If not empty, it will return only the data type of the input column if it is in the relation.</td> </tr>
    <tr> <td><div class="param_name">schema_writing</div></td> <td><div class="type">str</div></td> <td><div class = "yes">&#10003;</div></td> <td>Schema used to create the temporary table. If empty, the function will create a local temporary table.</td> </tr>
</table>

### Returns

<b>list of tuples</b> : The list of the different columns and their respective type.

### Example

In [7]:
from vertica_ml_python.utilities import *
get_data_types("SELECT pclass, embarked, AVG(survived) FROM public.titanic GROUP BY 1, 2")

[['pclass', 'int'], ['embarked', 'varchar(20)'], ['AVG', 'float']]