# vDataFrame[].label_encode

In [ ]:
vDataFrame[].label_encode()

Encodes the vcolumn using a bijection from the different categories to [0, n - 1] (n being the vcolumn cardinality).

### Returns

<b>vDataFrame</b> : self.parent

### Example

In [23]:
from vertica_ml_python.learn.datasets import load_titanic
titanic = load_titanic()
print(titanic["embarked"])

<object>  Name: embarked, Number of rows: 1234, dtype: varchar(20)

In [24]:
titanic["embarked"].label_encode()

<object>  Name: embarked, Number of rows: 1234, dtype: int

### See Also

<table id="seealso">
    <tr><td><a href="../decode">vDataFrame[].decode</a></td> <td>Encodes the vcolumn using a User Defined Encoding.</td></tr>
    <tr><td><a href="../discretize">vDataFrame[].discretize</a></td> <td>Discretizes the vcolumn.</td></tr>
    <tr><td><a href="../get_dummies">vDataFrame[].get_dummies</a></td> <td>Encodes the vcolumn using the One Hot Encoding.</td></tr>
    <tr><td><a href="../mean_encode">vDataFrame[].mean_encode</a></td> <td>Encodes the vcolumn using the Mean Encoding of a response.</td></tr>
</table>